.skills{
    height: 60vh;
    /* width: 100vw; */
    background-color: rgb(33,33,33);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}
.skills h1{
    /* text-align: center; */
    font-size: 4em;
    font-weight: bold;
    color: rgb(245,101,57);
}
.marquee {
    position: relative;
    display: flex;
    overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100%;
    height: 15em;
  }
  
  .marquee-item img {
    max-width: 3rem;
    /* width: 100%; */
    object-fit: contain;
  }
  
  .marquee-content > * {
    flex: 0 0 auto;
    color: white;
    background: transparent;
    margin: 2px;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    text-align: center;
    box-shadow: rgba(245,101,57,0.4) 0px 0px 30px;
  }
  
  .marquee-item {
    height: 10em;
    width: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }
  .marquee-item:hover{
    transform: scale(1.2);
  }
  
