.contacts{
    height: 100vh;
    padding: 2rem 4rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(33, 33, 33);
}
.contacts h1{
    color: rgb(245,101,57);
    margin-bottom: 2em;
}
.contact-body{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
.contact-form {
    display: flex;
    width: 40%;
}
.contact-form form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.contact-form input,
.contact-form textarea {
    background-color: transparent;
}
.contact-form label{
    color: rgb(245,101,57);
    /* display: inline-flex; */
}
.input{
    display: flex;
    flex-direction: column;
}
.input input,
.input textarea{
    width: 100%;
    border: 4px rgb(245,101,57) solid;
    border-radius: 25px;
    font-size: large;
    color: white;
    resize: none;
    /* margin-bottom: 2rem; */
    padding: 1em;
}
.input textarea{
    width: 100%;
    height: 10em;
}
.name:focus {
    border-color: rgb(245,101,57);
}
.submit-button{
    display: flex;
    cursor: pointer;
}

.submit-button button{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    background-color: rgb(245,101,57);
    border-radius: 25px;
    width: 8em;
    height: 2em;
    font-size: large;
}
.submit-icon{
    /* translate: ; */
}
.contact-details{
    color: white;
}