*{
    margin: 0;
}
.education{
    height: 100vh;
    background-color: rgb(33,33,33);
}
.education h1{
    color: rgb(245,101,57);
}
.education-details h4,
.education-details h5{
    color: white;
}
.education-details h6{
    color: rgb(245,101,57);
}