
@font-face {
    font-family: "BestermindRegular";
    src: url(BestermindRegular.ttf);
}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    background-color: rgb(245, 101, 57);
    margin-top: 1rem;
}
.navBar > h1{
    color: rgb(33, 33, 33);
    font-family: "BestermindRegular";
    font-size: 2em;
}